:root {
    --background-color: rgb(63, 129, 158);
}

body{
    background-color: var(--background-color);
    font-family: "Montserrat";
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-group svg {
    fill: #468FAF; /* Cambiar el color del relleno del SVG */
}

.container-group svg path {
    stroke: #ffffff; /* Cambiar el color del relleno del círculo */
}

