:root {
    --background-color: #468FAF;
    --accent-color: #A9D6E5;
    --container-color: #f3f4f6;
    --text-color: #000000;
}

body{
    background-color: var(--background-color);
    font-family: "Montserrat";
    color: var(--text-color);
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-group svg {
    fill: var(--background-color); /* Cambiar el color del relleno del SVG */
}

.container-group svg path {
    stroke: #ffffff; /* Cambiar el color del relleno del círculo */
}

.icon {
    fill: var(--accent-color);
}

.filterButton {
    background-color: var(--container-color);
}

/* .filterButton:hover {
} */

.modeChanger:checked{
    background-color: var(--background-color);
}