<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dove</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../js/app.js"></script>
    <script type="module" src="../js/static.js"></script>
    <script type="module" src="../js/contactsList.js"></script>
    <script type="module" src="../tests/tests.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../assets/svg/dove.svg" type="image/x-icon">
</head>
<body>
    <div id="errorHome" style="display: flex; position: fixed; justify-content: space-between; background-color: #f3f4f6e1; z-index: 999; top: 0; left: 0; width: 100%; height: 6rem; padding-left: 5%; padding-right: 5%;">
        <p id="errorText" style="color: red; display: flex; flex-direction: column; justify-content: center; align-items: center;"><strong>Ha ocurrido un error XDHa ocurrido un error XDHa ocurrido un error XDHa ocurrido un error XDHa ocurrido un error XDHa ocurrido un error XD</strong></p>
        <button id="closeError" style="width: 2rem; margin-left: 2rem;"><img src="../assets/svg/close.svg"></img></button>
    </div>
    <main class="h-dvh flex flex-col p-5">
        <header class="flex flex-col md:flex-row lg:h-1/8 xl:h-1/8 sm:flex sm:mb-5 mb-0 lg:mb-5 md:h-[20%] min-h-[160px] md:min-h-[120px] sm:max-h-[140px]" role="banner">
            <div class="w-full md:w-[60%] mb-3 sm:mb-0 block sm:block md:block">
                <div class="flex flex-col justify-end h-full">
                    <div class="icons flex w-full md:mb-6 xl:mb-6 2xl:mb-6 md:w-1/2 block sm:block md:block lg:block xl:block" role="navigation" aria-label="Barra de navegación">
                        <button class="settings-bar mx-[1%] w-8 md:w-8 lg:w-10" aria-label="Configuración">
                           <img src="../assets/svg/settings.svg" alt="botón de configuración" class="icon">
                        </button>
                        <button class="contact-button mx-[1%] w-8 md:w-8 lg:w-10" aria-label="Añadir contacto">
                            <img src="../assets/svg/add.svg" alt="botón de añadir contacto">
                        </button>
                        <button class="chat-button mx-[1%] w-8 md:w-8 lg:w-10 hidden sm:hidden md:inline" aria-label="Chat">
                            <img src="../assets/svg/chat.svg" alt="botón de chat">
                        </button>
                    </div>
                    <div class="search-bar" role="search">
                        <!-- aquí va el buscador de contactos -->
                    </div>
                    <div class="filter-container sm:flex w-full sm:w-1/6 md:w-1/6 mt-auto h-auto sm:h-auto" role="region" aria-label="Filtros">
                        <div class="filters flex w-full sm:w-full md:w-1/2 items-center justify-between">
                            <img src="../assets/svg/filter.svg" class="icon mx-1.5 w-8 md:h-8 lg:w-12" alt="icono de filtro">
                            <button 
                                class="filterButton button h-10 w-20 text-xs hover:b mx-1.5 py-2 px-3 sm:py-3 sm:px-5 rounded-3xl flex items-center justify-center" aria-label="Mostrar todo">todo</button>
                            <button
                                class="filterButton button h-10 w-20 text-xs hover:b mx-1.5 py-2 px-3 sm:py-3 sm:px-5 rounded-3xl flex items-center justify-center" aria-label="Mostrar no leídos">no leído</button>
                            <button
                                class="filterButton button h-10 w-20 text-xs hover:b mx-1.5 py-2 px-3 sm:py-3 sm:px-5 rounded-3xl flex items-center justify-center" aria-label="Mostrar chats">chats</button>
                            <button
                                class="filterButton button h-10 w-20 text-xs hover:b mx-1.5 py-2 px-3 sm:py-3 sm:px-5 rounded-3xl flex items-center justify-center" aria-label="Mostrar grupos">grupos</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-[40%] md:flex md:justify-end xl:justify-end mt-4 md:mt-0 hidden sm:hidden md:block">
                <img src="../assets/svg/dove.svg" alt="logo" class="w-16 h-16 md:w-20 md:h-20">
            </div>
        </header>
        <div class="flex flex-col md:flex-row h-full sm:h-[100%] md:h-[80%]"> <!-- md:h-[100%]  -->
            <section
                class="contacts w-full p-4 md:w-[30%] h-full mb-4 md:mb-0 md:mr-10 block rounded-3xl overflow-y-auto custom-scrollbar shadow-2xl" style="background-color: var(--container-color);" role="region" aria-label="Lista de contactos">
                <div class="scrollbar-custom">
                    <!-- aquí se generan la lista de chats con jQuery -->
                </div>
            </section>
            <section class="chats relative w-full md:w-[70%] hidden md:block sm:hidden h-full rounded-3xl shadow-2xl flex flex-col justify-between" style="background-color: var(--container-color);" role="region" aria-label="Mensajes">
                    <!-- aquí se añaden los mensajes con jQuery -->
                    <div class="group-text-container flex flex-col items-center justify-center h-[95%]"><img class="h-28 mb-4" src="../assets/svg/dove.svg" alt="logo de Dove">
                        <h2 class="mb-2 font-bold">Dove</h2>
                        <h2 class="font-bold">Conversa sin límites, conecta con el mundo.</h2>
                    </div>
                    <div class="footer back-bar h-4 mb-3 flex items-center justify-center bottom-0">
                        <p class="flex items-center justify-center h-full text-base mr-2 italic">Creado por la empresa TriCoded</p>
                        <img class="h-8" src="../assets/svg/logoCompany.svg" alt="logo de la empresa TriCoded">
                    </div>
            </section>
        </div>
    </main>
</body>

</html>