<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="../js/app.js"></script> -->
</head>
<body>
    <div>
        <img src="../assets/img/lofnet.jpg" class="logo">
        <p class="slogan">Lorem ipsum dolor sit amet.</p>
    </div>

    <form class="loginForm">
        <p class="error"></p>
        <div>
            <input type="text" id="username" name="username" required placeholder="Introduce tu nombre de usuario">
            <input type="password" id="password" name="password" required placeholder="Introduce tu contraseña">
        </div>
        <button type="submit">Iniciar sesión</button>
        <div>
            <div>
                <label for="rememberMe">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    Recuérdame
                </label>
            </div>
            <a class="accent">Has olvidado tu contraseña?</a>
        </div>
    </form>
</body>
</html>